body {
    background-color: whitesmoke;
}

#menu{
    width: 10vw;
    height: 95vh;
}

#chart{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 60vw;
    height: 95vh;
    overflow: auto;
    border: 1px solid black;
}

#settings{
    width: 10vw;
    height: 95vh;
    text-align: right
}

.mainmenu{
    position: relative;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-bottom: 10px;
    transition: all 200ms 0s ease-in-out;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}

.button_hover{
    position: absolute;
    left: 8px;
    border-radius: 5vw;
    width: 10vw;
    height: 10vw;
    visibility: hidden;
    opacity: 0;
    box-shadow: 8px 8px 16px darkblue;
    background-color: grey;
    transition: all 200ms 0s ease-in-out;
}

.button_hover li{
    display: inline;
}

.button:hover #select_notes_hover{
    visibility: visible;
    opacity: 1;
    width: 40vw;
    height: 10vw;
    box-shadow: 8px 8px 16px darkblue;
}

#select_notes_submenu{
    border-radius: 5vw;
    width: 40vw;
    height: 10vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover #tool_notes_hover{
    visibility: visible;
    opacity: 1;
    width: 50vw;
    height: 10vw;
    box-shadow: 8px 8px 16px darkblue;
}

#tool_notes_submenu{
    border-radius: 5vw;
    width: 50vw;
    height: 10vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbutton_main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    background-color: silver;
    box-sizing: border-box;
}

.subbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    width: 10vw;
    height: 10vw;
    transition: all 100ms 0s ease-in-out;
}

.material-symbols-outlined{
    position: relative;
    margin: auto;
    size: 100%;
    font-size: 4vw;
}

#info:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    background-color: silver;
    box-sizing: border-box;
}


/*
疑似ダイアログ
*/
.dialog{
    visibility: hidden;
    position: absolute;
    top: 10vh;
    left: 10vh;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    box-shadow: 8px 8px 16px gray;
    background-color: white;
}

.close{
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 2vw;
    cursor: pointer;
}