body {
    background-color: whitesmoke;
}

#menu{
    width: 10vw;
    height: 95vh;
}

#chart{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 65vw;
    height: 95vh;
    overflow: auto;
    text-align: center;
    border: 1px solid black;
}

#settings{
    width: 5vw;
    height: 95vh;
    text-align: right
}

.mainmenu{
    position: relative;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    margin-bottom: 10px;
    transition: all 500ms 0s ease-in-out;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}

.button_hover{
    z-index: 30;
    position: absolute;
    left: 8px;
    border-radius: 5vh;
    width: 10vh;
    height: 10vh;
    visibility: hidden;
    opacity: 0;
    box-shadow: 8px 8px 16px darkblue;
    background-color: grey;
    transition: all 500ms 0s ease-in-out;
}

.button_hover li{
    display: inline;
}

.button:hover #select_notes_hover{
    visibility: visible;
    opacity: 1;
    width: 40vh;
    height: 10vh;
    box-shadow: 8px 8px 16px darkblue;
}

#select_notes_submenu{
    border-radius: 5vh;
    width: 40vh;
    height: 10vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover #tool_notes_hover{
    visibility: visible;
    opacity: 1;
    width: 50vh;
    height: 10vh;
    box-shadow: 8px 8px 16px darkblue;
}

.button:hover #info_hover{
    visibility: visible;
    opacity: 1;
    width: 20vh;
    height: 10vh;
    box-shadow: 8px 8px 16px darkblue;
}

#tool_notes_submenu{
    border-radius: 5vh;
    width: 50vh;
    height: 10vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info_submenu{
    border-radius: 5vh;
    width: 20vh;
    height: 10vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbutton_main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
    background-color: silver;
    box-sizing: border-box;
}

.rotate_symbols{
    rotate: 0deg;
    transition: all 500ms 0s ease-in-out;
}

.button:hover .rotate_symbols{
    rotate: 360deg;
}

.subbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    width: 10vh;
    height: 10vh;
    transition: all 100ms 0s ease-in-out;
}

.material-symbols-outlined{
    position: relative;
    margin: auto;
    size: 100%;
    font-size: 4vh;
}

#info:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
    background-color: silver;
    box-sizing: border-box;
}

#chart_start{
    position: relative;
    display: flex;
    width: 60vw;
    height: 0;
}

.start{
    position: relative;
    flex: 1;
}

.grid_row{
    display: flex;
    width: 60vw;
    height: 15vw;
}

.grid{
    position: relative;
    width: 15vw;
    height: 15vw;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note{
    transform: translate(-50%, 50%);
    position: absolute;
    border-radius: 0.5vw;
    width: 80%;
    height: 3vh;
    border: 2px solid black;
    background-color: red;
    left: 50%;
}

.long{
    transform: translate(-50%, 50%);
    z-index: 10;
    position: absolute;
    border-radius: 0.5vw;
    width: 80%;
    height: 3vh;
    border: 2px solid black;
    background-color: green;
    left: 50%;
}

.bridge{
    transform: translate(-50%, 0%);
    z-index: 5;
    position: absolute;
    width: 60%;
    background-color: lime;
    left: 50%;
}

#split{
    position: absolute;
    bottom: 35px;
    height: 2vw;
    display: flex;
}

.split_button{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-size: 1vw;
    transition: all 200ms 0s ease-in-out;
}

.split_button:hover{
    background-color: silver;
}

#split_num{
    width: 6vw;
    transform: translate(20%, -50%);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 4vh;
    z-index: -10;
}

/*
疑似ダイアログ
*/
.dialog{
    z-index: 10;
    opacity: 0.0;
    visibility: hidden;
    position: absolute;
    top: 10vh;
    left: 10vh;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    box-shadow: 8px 8px 16px gray;
    background-color: white;
    transition: all 100ms 0s ease-in-out;
}

.close{
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 2vw;
    cursor: pointer;
    color: black;
    transition: all 200ms 0s ease-in-out;
}

.close:hover{
    color: red;
}